* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container .content {
    display: flex;
    height: 65%;
}

.container .content .first__part {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(-180deg, hsl(251, 100%, 63%), hsl(242, 81%, 55%));
    border-radius: 30px;
    width: 300px;
}

.content .first__part .position {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
}

.content .first__part h1 {
    color: #fff;
    margin-top: 30px;
    font-size: 20px;
    opacity: 0.5;
}

.content .first__part .result {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 195px;
    background-color: hsl(247, 75%, 53%);
    padding: 50px;
    border-radius: 100px;
}

.content .first__part .result .first__result {
    color: #fff;
    font-size: 70px;
    font-weight: 700;
}

.content .first__part .result .second__resolt {
    color: #fff;
    font-size: 15px;
    opacity: 0.5;
}

.content .first__part h2 {
    color: #fff;
    font-size: 35px;
    margin-bottom: 15px; 
}

.content .first__part .descriptive {
    font-size: 18px;
    color: #fff;
    text-align: center;
    opacity: 0.5;
    width: 236px;
}